<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataType_06_lecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F941B7261E02D11700DF0430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F941B73F1E02D11700DF0430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F941B74A1E02D11700DF0430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
